h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 84px 124px 64px 124px;
}

.chapitres-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin: 64px 0 86px 0;
}

.chapitres-cards-container1,
.chapitres-cards-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.article-chapitre-card {
  width: 360px;
  padding: 8px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 91, 0.2);
  background: var(
    --Carte,
    linear-gradient(145deg, #f5f5ff 20.64%, #b2b2ff 135.45%)
  );
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset,
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

article h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  margin: 0;
  text-align: left;
}

article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  text-align: left;
}

figure {
  margin: 0;
  position: relative;
  width: fit-content;
  height: 183px;
}

.player-chapitre {
  border-radius: 8px;
  width: 360px;
  height: 183px;
}

.player-button-chapitre {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 8px;
  right: 8px;
}

.player-button-chapitre img {
  width: 40px;
  height: 40px;
}

.progress-chapitre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-bar-container-chapitre {
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 91, 0.1);
  border-radius: 4px;
  margin-right: 8px;
}

.progress-bar-chapitre1 {
  width: 55%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}

.progress-bar-chapitre2 {
  width: 40%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}

.progress-bar-chapitre3 {
  width: 0%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}

.progress-bar-chapitre4 {
  width: 0%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}
