h1{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    padding: 84px 124px 64px 124px;
}

.connexion-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.connexion-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 576px;
}

.connexion-form label {
    font-size: 16px;
    font-weight: 600;
    color: #1C192C;
}

.connexion-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.connexion-form button {
    background-color: #1C192C;
    color: #F5F5FF;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.connexion-form button:hover {
    background-color: #F5F5FF;
    color: #1C192C;
    border: 2px solid #1C192C;
}

