h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 84px 124px 64px 124px;
}

.episode-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-self: center;
  margin-bottom: 86px;
}

.episode1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.episode1 h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: start;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-bar-chapitre-container {
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 91, 0.1);
  border-radius: 4px;
  margin-right: 8px;
}

.progress-bar-chapitre1 {
  width: 55%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}

.progress-bar-chapitre2 {
  width: 45%;
  height: 8px;
  background-color: #1c192c;
  border-radius: 4px;
}

.video-player-episode figure {
  margin: 0;
}

.video-player-episode figcaption {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  width: fit-content;
}

.episodes-list {
  width: 100%;
}

.titre-section-list {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.episode-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.episode-item {
  display: flex;
  gap: 10px;
  border-radius: 50px;
  margin: 0;
  padding: 8px;
  border: 1px solid rgba(0, 0, 91, 0.2);
  background: var(
    --Carte,
    linear-gradient(145deg, #f5f5ff 20.64%, #b2b2ff 135.45%)
  );
}

.numero-episode {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 8px;
}
.titre-episode-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 91, 0.2);
  background: #f5f5ff;
  padding: 4px 8px 4px 16px;
}

.titre-episode {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
