h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 84px 124px 64px 124px;
}

p {
  margin: 0;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 32px 0;
}

.profile-info-container {
  margin-bottom: 64px;
  gap: 8px;
}

.profile-info-container,
.abonnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 16px;
}

.placeholder-img-profile {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 91, 0.1);
  border-radius: 100px;
  margin-bottom: 32px;
}

.profil-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.profil-title span {
  font-size: 32px;
}

.name-profil,
.forename-profil,
.email-profil,
.phone-profil {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.abonnement-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recently-watched-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0 86px 0;
}

.recently-watched-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 16px;
}

.recently-watched-container h2 {
  text-align: left;
}

.video-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.video-history {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
