h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 84px 124px 64px 124px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  gap: 48px;
}

.section-video {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.placeholder-player {
  width: 778px;
}

.video-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-retranscription {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 778px;
  margin-bottom: 86px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 16px;
}

.section-retranscription h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
}

.retranscription-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.formateur {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.formateur-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.photo-formateur {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: #1c192c;
}

.nom-formateur {
  font-size: 24px;
}

.btn-ressources {
  align-self: center;
}
